html
    head
        title NodeStarter - Template
        meta(
            charset="utf-8"
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        )
        meta(
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        )
        meta(
            name="keywords" 
            content='NodeStarter'
        )
        meta(
            name="author"
            content='Upd4ting'
        )
        block scriptshead
        link(
            href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
            rel="stylesheet"
            type="text/css"
        )
        link(
            rel="icon"
            href="/img/favicon.ico"
        )
        block styles
    body
        block body

        script(
            src="/js/jquery.min.js"
        )
        script(
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        )
        block scripts